# ▪ DataFrame
- DataFrame : 표형식의 데이터를 담는 자료형
- column(열, 세로) : 데이터의 특징
- row(행, 가로) : 레코드
---
####  numpy array와 pandas 라이브러리의 차이?  
▪ pandas DataFrame은 numpy array를 기반으로 만들어짐  
(∴ pandas를 사용하려면 numpy부터 설치되어 있어야 함) 

    ▪ pandas DataFrame은 일반적인 2차원 numpy array에 부가적인 기능들이 추가된 것  
ex) pandas DataFrame은 각 컬럼과 로우에 이름을 붙여줄 수 있음  
데이터셋에 문자열, 숫자 등 다양한 자료형 담을 수 있음

In [4]:
import pandas as pd
import numpy as np

In [5]:
two_dimension1_list = [['dongwook', 50, 86],['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

In [6]:
# 2차원 numpy array로 생성
np.array(two_dimension1_list)

array([['dongwook', '50', '86'],
       ['sineui', '89', '31'],
       ['ikjoong', '68', '91'],
       ['yoonsoo', '88', '75']], dtype='<U11')

In [7]:
# pandas DataFrame으로 생성
my_df = pd.DataFrame(two_dimension1_list)
my_df

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [8]:
type(my_df)

pandas.core.frame.DataFrame

In [9]:
# pandas DataFrame의 column(columns)과 row(index)에 이름 설정
my_df = pd.DataFrame(two_dimension1_list, columns=['name', 'english_score', 'math_score'], index=['a', 'b', 'c', 'd'])
my_df

       name  english_score  math_score
a  dongwook             50          86
b    sineui             89          31
c   ikjoong             68          91
d   yoonsoo             88          75

In [10]:
my_df.columns

Index(['name', 'english_score', 'math_score'], dtype='object')

In [12]:
my_df.index

Index(['a', 'b', 'c', 'd'], dtype='object')

## From list of lists, array of arrays, list of series
**2차원 리스트**나 **2차원 numpy array**로 DataFrame을 만들 수 있습니다.  
심지어 **pandas Series를 담고 있는 리스트**로도 DataFrame을 만들 수 있습니다.

따로 column과 row(index)에 대한 설정이 없으면 그냥 0, 1, 2, ... 순서로 값이 매겨집니다.

In [1]:
import numpy as np
import pandas as pd

two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]
two_dimensional_array = np.array(two_dimensional_list)
list_of_series = [
    pd.Series(['dongwook', 50, 86]), 
    pd.Series(['sineui', 89, 31]), 
    pd.Series(['ikjoong', 68, 91]), 
    pd.Series(['yoonsoo', 88, 75])
]

# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(two_dimensional_list)
df2 = pd.DataFrame(two_dimensional_array)
df3 = pd.DataFrame(list_of_series)

print(df1)

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [2]:
print(df2)

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [3]:
print(df3)

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

## From dict of lists, dict of arrays, dict of series
**파이썬 사전(dictionary)**으로도 DataFrame을 만들 수 있습니다.

사전의 **key**로는 **column 이름**을 쓰고,  
그 column에 해당하는 **리스트, numpy array, 혹은 pandas Series**를 사전의 **value**로 넣어주면 됩니다.

In [4]:
import numpy as np
import pandas as pd

names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

dict1 = {
    'name': names, 
    'english_score': english_scores, 
    'math_score': math_scores
}

dict2 = {
    'name': np.array(names), 
    'english_score': np.array(english_scores), 
    'math_score': np.array(math_scores)
}

dict3 = {
    'name': pd.Series(names), 
    'english_score': pd.Series(english_scores), 
    'math_score': pd.Series(math_scores)
}


# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
df3 = pd.DataFrame(dict3)

print(df1)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

## 실습1
아래와 같은 결과가 나오도록 DataFrame을 만들고 출력해 보세요.  
column은 name, birthday, occupation 총 3개입니다.

||name|birthday|occupation|
|:---:|:---:|:---:|:---:|
|0|Taylor Swift|December 13, 1989|Singer-songwriter|
|1|Aaron Sorkin|June 9, 1961|Screenwriter|
|2|Harry Potter|July 31, 1980|Wizard|
|3|Ji-Sung Park|February 25, 1981|Footballer|

In [10]:
import pandas as pd

# 여기에 코드를 작성하세요
celebrities = [['Taylor Swift', 'December 13, 1989', 'Singer-songwriter'],
['Aaron Sorkin', 'June 9, 1961', 'Screenwriter'], 
['Harry Potter', 'July 31, 1980', 'Wizard'],
['Ji-Sung Park', 'February 25, 1981', 'Footballer']]

df = pd.DataFrame(celebrities, columns=['name', 'birthday', 'occupation'])
# 테스트 코드
df

           name           birthday         occupation
0  Taylor Swift  December 13, 1989  Singer-songwriter
1  Aaron Sorkin       June 9, 1961       Screenwriter
2  Harry Potter      July 31, 1980             Wizard
3  Ji-Sung Park  February 25, 1981         Footballer

# pandas의 데이터 타입
pandas DataFrame에는 다양한 종류의 데이터를 담을 수 있습니다. dtypes를 사용해서 각 column이 어떤 데이터 타입을 보관하는지 확인할 수 있는데요.

In [5]:
import pandas as pd

two_dimensional_list = [['dongwook', 50, 86], ['sineui', 89, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

my_df = pd.DataFrame(two_dimensional_list, columns=['name', 'english_score', 'math_score'], index=['a', 'b', 'c', 'd'])

print(my_df.dtypes)

name             object
english_score     int64
math_score        int64
dtype: object

위 경우 'name' column은 object라는 데이터 타입을 보관하고, 'english_score'와 'math_score' column은 int64라는 데이터 타입을 보관하는 거죠.

보시다시피 한 column 내에서는 모든 값이 동일한 데이터 타입입니다.

## pandas의 dtype들
pandas에 담을 수 있는 dtype(데이터 타입) 몇 가지를 살펴봅시다.  

|dtype|설명|
|:---:|:---:|
|int64|정수|
|float64|소수|
|object|텍스트|
|bool|불린(참과 거짓)|
|datetime64|날짜와 시간|
|category|카테고리|

## CSV
Comma-Sperated Values 값들이 쉼표로 나뉘어져 있다.

In [12]:
iphone_df = pd.read_csv('data/iphone.csv')
iphone_df

      Unnamed: 0         출시일  디스플레이  메모리     출시 버전 Face ID
0       iPhone 7  2016-09-16    4.7  2GB  iOS 10.0      No
1  iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
2       iPhone 8  2017-09-22    4.7  2GB  iOS 11.0      No
3  iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
4       iPhone X  2017-11-03    5.8  3GB  iOS 11.1     Yes
5      iPhone XS  2018-09-21    5.8  4GB  iOS 12.0     Yes
6  iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

In [13]:
type(iphone_df)

pandas.core.frame.DataFrame

In [16]:
# index_col=0 0번 컬럼을 인덱스, 즉 로우 이름으로 설정해라
iphone_df_row = pd.read_csv('data/iphone.csv', index_col=0)
iphone_df_row

                      출시일  디스플레이  메모리     출시 버전 Face ID
iPhone 7       2016-09-16    4.7  2GB  iOS 10.0      No
iPhone 7 Plus  2016-09-16    5.5  3GB  iOS 10.0      No
iPhone 8       2017-09-22    4.7  2GB  iOS 11.0      No
iPhone 8 Plus  2017-09-22    5.5  3GB  iOS 11.0      No
iPhone X       2017-11-03    5.8  3GB  iOS 11.1     Yes
iPhone XS      2018-09-21    5.8  4GB  iOS 12.0     Yes
iPhone XS Max  2018-09-21    6.5  4GB  iOS 12.0     Yes

## 실습2
아기의 성별과 어머니의 인종에 따른, 뉴욕에서 가장 인기 있는 아기 이름이 무엇인지 조사를 해 봤습니다.

조사 결과가 `data` 폴더의 `popular_baby_names.csv`라는 파일에 담겨 있는데요. 안에 있는 정보를 DataFrame으로 읽어 들이고, DataFrame을 출력해 주세요.

In [18]:
import pandas as pd

# 여기에 코드를 작성하세요
df = pd.read_csv('data/popular_baby_names.csv')
# 테스트 코드
df

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Olivia,172,1
1,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Chloe,112,2
2,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Sophia,104,3
3,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emily,99,4
4,2016,FEMALE,ASIAN AND PACIFIC ISLANDER,Emma,99,4
...,...,...,...,...,...,...
11340,2011,MALE,WHITE NON HISPANIC,LEV,10,97
11341,2011,MALE,WHITE NON HISPANIC,AUGUSTUS,10,97
11342,2011,MALE,WHITE NON HISPANIC,SHAUL,10,97
11343,2011,MALE,WHITE NON HISPANIC,WESLEY,10,97
11344,2011,MALE,WHITE NON HISPANIC,KENNETH,10,97

## 실습3
'메가밀리언’은 ‘파워볼’과 더불어 미국에서 양대산맥을 이루는 복권입니다. 당첨될 확률이 약 3억분의 1 정도로 굉장히 낮은 대신, 당첨시 금액이 어마어마하죠. 2018년에는 한 명이 무려 1.8조원을 가져가기도 했습니다.

메가밀리언 측에서 2002년부터 현재(2/15/19)까지의 당첨 번호가 담긴 mega_millions.csv 파일을 공개했는데요. 이 데이터를 DataFrame에 넣어 봅시다.

날짜(Draw Date)가 이 DataFrame의 인덱스가 되도록 해 주세요!

In [19]:
import pandas as pd

# 여기에 코드를 작성하세요
mega_millions_df = pd.read_csv('data/mega_millions.csv', index_col=0)

# 테스트 코드
mega_millions_df

           Winning Numbers  Mega Ball  Multiplier
Draw Date
02/15/2019  10 38 40 43 65         12         2.0
02/12/2019  15 32 39 50 65          7         3.0
02/08/2019  14 24 31 42 48         13         3.0
02/05/2019  03 34 36 59 66          7         2.0
02/01/2019  02 37 48 66 68         11         5.0
...                    ...        ...         ...
05/31/2002  12 28 45 46 52         47         NaN
05/28/2002  06 21 22 29 32         24         NaN
05/24/2002  02 04 32 44 52         36         NaN
05/21/2002  04 28 39 41 44          9         NaN
05/17/2002  15 18 25 33 47         30         NaN

[1746 rows x 3 columns]